{% extends "base.html" %}

{% block title %}write{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>write</h3>
        <form method="POST" action="/write">
            {% for date, content in week %}
            <div class="form-group">
                <label for="">{{ date }}</label>
                <textarea
                    name="{{ date }}"
                    id="{{ date }}"
                    class="form-control"
                    value=""
                    rows="3"
                    aria-describedby="tracker_desc-help"
                    >{{ content }}</textarea>
            </div>
            {% endfor %}
            <button
                type="submit"
                class="btn btn-primary"
                name="create"
                >
                Save
                </span>
            </button>
        </form>
    </div>
</div>
{% endblock %}
